.tab-item {
  padding: 10px;
  background-color: transparent;
}

.tab-item-button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 20px;
  outline: none;
  cursor: pointer;
}

.active-tab {
  color: #fec653;
  border-bottom: 3px solid #fec653;
}
