.thumbnail-container {
  width: 100px;
  height: 100px;
  padding: 5px;
}

.thumbnail-image {
  width: 100%;
  height: 100%;
}

.thumbnail-button {
  height: 100%;
  border: none;
  outline: none;
  width: 100%;
  cursor: pointer;
  background-color: transparent;
}
